html, body {
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	line-height: 150%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #141414 url(images/background.jpg) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4F4F4F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	text-transform: uppercase;
}

h2 {
	padding: 0 0 2% 0;
	font-size: 225%;
}

b {
	color: #000000
}

a {
	color: blue;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

ol li {
	padding: 8px;
	line-height: 160%
}

ol li.odd {
	background: #fffeed;
}

ol li.even {
	background: #ffffcc;
}


#contact-info {
	width: 90%;
	border-style:groove;
	border-radius: 5px;
	padding: 8px;
}

.email {
	color:blue;
}

.image-caption {
	padding: 2% 2% 2% 8%;
	text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #ffffcc;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 65%;
  top: 125%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display:block;
}


/** WRAPPER */
#wrapper {
	width: 100%;
	padding: 0px 50px;
	background: #FFFFFF;
	margin: 0px auto;
}

/** HEADER */
#header {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/** LOGO */
#logo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0px 30px 0px;
}

#logo img {
	margin: 5px;
	display: block;
	align-items: center;
}

#logo span {
	margin: 5px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.30em;
}

/** MENU */
#menu {
	padding: 20px 0px;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active-button a {
	background: #FF5241;
	color: #FFFFFF;
}

/** PAGE */
#page {
	max-width: 94%;
	overflow: hidden;
	margin-left: 3%;
	padding: 30px 0px;
	
}

/** CONTENT */
#displayed-content {
	float: left;
	width: 60%;
}

#displayed-content span.center {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/** SIDEBAR */
#sidebar {
	float: right;
	width: 35%;
}

img.hanger-logo {
	width: 90%
}

.sidebar-item {
	width: 96%;
	margin-top: 10%;
}

img.newspaper-article {
	width:100%;
}

/* img:hover.newspaper-article {
	transform: translateX(-300px) scale(3);
} */

/* Footer */
#footer {
	width: 100%;
	padding: 2% 0 4% 0;
	border-top: 1px solid #CFCFCF;
}

#footer p {
	font-size: 12px;
	text-align: center;
}

#footer a {
	color:#000000;
	text-decoration: none;
}

#video-container {
	position: relative;
	padding-top: 56.26%;
   }
   
#video {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5%;
	width: 85%;
	height: 85%;
}